<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="trace.log"  formatter="Text Formatter" asynchronous="false" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;
        Message: {message}{newline}&#xA;
        Category: {category}{newline}&#xA;
        Priority: {priority}{newline}&#xA;&#xD;&#xA;
        EventId: {eventid}{newline}&#xA;
        Severity: {severity}{newline}&#xA;
        Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;
        ProcessId: {localProcessId}{newline}&#xA;&#xD;&#xA;Process Name: {localProcessName}{newline}&#xA;
        Thread Name: {threadName}{newline}&#xA;
        Win32 ThreadId:{win32ThreadId}{newline}&#xA;
        Extended Properties: {dictionary({key} - {value}{newline}"
        
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="ServiceName" value="CustomerProjectOrder" />
    <add key="Environment" value="Dev" />
    <add key="BaseUri" value="http://mum-dev:9090/denodo-restfulws/customer_project_order/" />
    <add key="DenodoUsername" value="admin" />
    <add key="DenodoPassword" value="admin" />
    <add key="CustomerProjectOrderViewUri_j4" value="views/j4_pr01" />
    <add key="ConfigurationDbConnectionString" value="Data Source=.\sqlexpress;Initial Catalog=Configuration;Integrated Security=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReadConfigFromDatabase" value="false" />
    <add key="DatasourceLibraryPath" value="C:\JCI_MicroServicesProject\MEFDll\CustomerProjectOrder"/>
    <!--<add key="DatabaseConnectionString" value="
    Driver={Hortonworks Hive ODBC Driver};uid={a3000053@JCI.COM};asyncexecpollinterval=100;authmech=1;binarycolumnlength=32767;
    decimalcolumnscale=10;defaultstringcolumnlength=255;delegatekrbcreds=0;description=HiveServer;
    driverconfigtakeprecedence=0;enableasyncexec=0;fastsqlprepare=0;fixunquoteddefaultschemanameinquery=1;
    gettableswithquery=1;hiveservertype=2;
    host={c201sc02m001.jci.com:2181,c201sc02m002.jci.com:2181,c201sc02m003.jci.com:2181};
    invalidsessionautorecover=1;krbhostfqdn=_HOST;krbrealm=JCI.COM;krbservicename=hive;rowsfetchedperblock=50;schema=default;
    servicediscoverymode=1;showsystemtable=0;sockettimeout=60;ssl=0;thrifttransport=1;usenativequery=0;useonlysspi=0;
    useunicodesqlcharactertypes=0;zknamespace=hiveserver2;hive.fetch.task.conversion=none;hive.execution.engine=tez;" />-->
    <add key="DatabaseConnectionString" value="DSN=Hive_ODBC"/>
    <add key="DatabaseTableName_mg" value="scala_db_dbo_usable.pr01mg00" />
    <add key="DatabaseTableName_mh" value="scala_db_dbo_usable.pr01mh00" />
    <add key="DatabaseTableName_mi" value="scala_db_dbo_usable.pr01mi00" />
    <add key="DatabaseTableName_mj" value="scala_db_dbo_usable.pr01mj00" />
    <add key="DatabaseTableName_mk" value="scala_qa_dbo_usable.pr01mk00" />
    <add key="DatabaseTableName_ml" value="scala_om_dbo_usable.pr01ml00" />
    <add key="DatabaseTableName_mn" value="scala_qv_dbo_usable.pr01mn00" />
    <add key="DatabaseTableName_na" value="iscala_bh_dbo_usable.pr01na00" />
    <add key="DatabaseTableName_j1" value="scala_th_dbo_usable.pr01j100" />
    <add key="DatabaseTableName_j4" value="scala_th_dbo_usable.pr01j400" />
    <add key="DatabaseTableName_l1" value="scala_kr_dbo_usable.pr01l100" />
    <add key="DatabaseTableName_m1" value="scala_my_dbo_usable.pr01m100" />
    <add key="DatabaseTableName_n1" value="scala_nz_dbo_usable.pr01n100" />
    <add key="DatabaseTableName_va" value="scala_cn_marine_dbo_usable.pr01va00" />
    <add key="DatabaseTableName_vc" value="scala_cn_marine_dbo_usable.pr01vc00" />

    <add key="DatabaseColumnName_mg" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_mh" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_mi" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_mj" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_mk" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_ml" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_mn" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_na" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_j1" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_j4" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_l1" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_m1" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_n1" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_va" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
    <add key="DatabaseColumnName_vc" value="pr01001,pr01009,pr01010,pr01011,pr01067,pr01069,pr01003,pr01106" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="BoolSwitch" value="1" />
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>